.pictures {
	height: 50%;
	width: 50%;
}

.personas {
	height: 120%;
	width: 120%;
}

.wireframes {
	height: 30%;
	width: 30%;
}

table {
  font-family: roboto, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid black;
  text-align: center;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

#selected {
  color: #2196F3;
}